// Definindo esquema de Cores padrão do app

$white: #FDFFFC;
$black: #011627;
$dark-blue: #1255FF;
$mid-blue: #3471FE;
$light-blue: #729EFD;
$ul-blue: #B0CBFD;
$ul-red: #F8B5BD;
$light-red: #F17E8C;
$mid-red: #EE596A;
$dark-red: #E82139;