@import './styles/colors.scss';
@import "~bootstrap/scss/bootstrap";

.main{
    display: flex;
    flex-direction: column;

    background-color: $white;
    color: $black;
    width: 100hw;
    height: 100vh;

}